div {
    border: black, 2px, solid;
    padding: 5px;
}
.div-col {
    margin: 10px;
    border: black, 5px, solid;
}

h1, h2, h3, h4 {
    text-align: center;
}

img {
    width: 100%
}

.logo, .monitor-image {
    padding: 0px;
}

@media (min-width: 600px) {
    .monitor-image {
        width: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
