/*
.spectral-extralight {
  font-family: "Spectral", serif;
  font-weight: 200;
  font-style: normal;
}

.spectral-light {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: normal;
}

.spectral-regular {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

.spectral-medium {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: normal;
}

.spectral-semibold {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
}

.spectral-bold {
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: normal;
}

.spectral-extrabold {
  font-family: "Spectral", serif;
  font-weight: 800;
  font-style: normal;
}

.spectral-extralight-italic {
  font-family: "Spectral", serif;
  font-weight: 200;
  font-style: italic;
}

.spectral-light-italic {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: italic;
}

.spectral-regular-italic {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: italic;
}

.spectral-medium-italic {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: italic;
}

.spectral-semibold-italic {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: italic;
}

.spectral-bold-italic {
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: italic;
}

.spectral-extrabold-italic {
  font-family: "Spectral", serif;
  font-weight: 800;
  font-style: italic;
}
 */

h1, h2 {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: normal;
}
h3, h4 {
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: normal;
}
p, li, .font {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
}

@media (min-width: 800px) {
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 32px;
    }
    h4 {
        font-size: 24px;
    }
    p, li {
        font-size: 20px;
    }
}

body {
    background-color: #000000;
}


.div-col, .div-img {
    border: black, 5px, solid;
    padding: 5px;
}

.div-img {
    margin: 10px;
}

h1, h2, h3, h4 {
    text-align: center;
}

p {
    text-align: center;
}

img {
    width: 100%
}

.logo, .monitor-image, .hardware-image, .future-technology-image {
    padding: 0px !important;
}

@media (min-width: 600px) {
    .monitor-image {
        width: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {
    #intro, #apps, #hardware, #future-technology {
        padding: 25px;
    }
}

#intro, #hardware {
    background-color: #323250;
}

#apps, #future-technology {
    background-color: #181630;
}

#intro, #hardware, #apps, #future-technology {
    padding: 10px;
}

.inside {
    background-color: #75aaff;
    margin: 10px;
    padding: 10px;
}

.app {
    margin-top: 20px;
    margin-bottom: 20px;
}

#monitors {
    padding: 10px;
}

#intro {
    margin-top: 10px;
}

.text-background {
    background-color: #c5dbff;
}

.hardware-card {
    width: 80%;
    margin: auto;
}
